.Header {
  display: flex;
  justify-content: space-evenly;
}
.Header input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  border-radius: 20px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
